.conhecimentos {
    padding: 20px;
    height: 60vh;
    position: relative;
    width: 100%;
    margin: 50px auto;
}


.titulo-conhecimentos {
    margin-top: 40px;
    text-align: center;
}

.conhecimentos-texto {
    padding: 0 4em 2em 0;
}

.conhecimentos-flex {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
}


.wrapper {
    width: 50%;
}

.wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    
}

.conhecimentos-texto h1 {
    font-size: 1.5em;
    text-transform: unset;
}


.wrapper h2 {
    text-align: left;
}

.line {
    
    height: 25px;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 14px;
    color: white;
    padding:  0 0 0 10px;
    position: relative;
    
}


.line:before {
    
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 25px;
    top:0;
    z-index: -2;
    background:white;
    
}





.line:after {
    position: absolute;
    content: '';
    background: #333;
    height: 100%;
    width: 100%;
    transition: 0.8s;
    display: block;
    animation: animate 1 4s;
    top: 0;
    left: 0;
    z-index: -1;
    
}


.line1:after {
    max-width: 85%;
}

.line2:after {
    max-width: 80%;
}

.line3:after {
    max-width: 45%;
}

.line4:after {
    max-width: 40%;
}

@keyframes animate {

    0% {
        width: 0;
    }  
    
    100% {
        width: 100%;
    }
}